:root {
    --couleur-primaire: #46307C;
    --couleur-secondaire: #11CCC1;
    --couleur-noire: #181818;
    --couleur-blanche: #F9F9F9;
    --font-color: #000;
    --background-color: linear-gradient(to bottom, #46307C 0%, #11CCC1 50%, #F9F9F9 100%);
}
@keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
@keyframes defilement {
    0% {
        transform: scale(0,0);
        opacity: 1;
    }
    50% {
        transform: scale(1.2, 1.2);
        opacity: 1;
    }
    60% {
        transform: translateY(0vh);
        opacity: 1;
    }
    70% {
        transform: translateY(10vh);
        opacity: 1;
    }
    80% {
        transform: translateY(20vh);
        opacity: 1;
    }
    90% {
        transform: translateY(30vh);
        opacity: 1;
    }
    95% {
        transform: translateY(40vh);
        opacity: 0.5;
    }
    100% {
        transform: translateY(250vh);
        opacity: 0;
    }
}
@keyframes defilement-rot {
    0% {
        transform: rotate(0deg);
        opacity: 1;
    }
    50% {
        transform: rotate(360deg);
        opacity: 1;
    }
    60% {
        transform: translateY(0vh);
        opacity: 1;
    }
    70% {
        transform: translateY(10vh);
        opacity: 1;
    }
    80% {
        transform: translateY(20vh);
        opacity: 1;
    }
    90% {
        transform: translateY(30vh);
        opacity: 1;
    }
    95% {
        transform: translateY(40vh);
        opacity: 0.5;
    }
    100% {
        transform: translateY(250vh);
        opacity: 0;
    }
}
@keyframes transition {
    0% {
        transform: translateX(-150vw);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes translation {
    0% {
        transform: translateY(150vw);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes flicker {
	0% {
		opacity: 0.5;
		text-shadow: 2px 2px 10px var(--couleur-primaire);
	}
	100% {
		opacity: 1;
		text-shadow: 2px 2px 20px var(--couleur-primaire);
	}
}
@keyframes apparition {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    50% {
        opacity: 0.5;
        transform: scale(1.2);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
@font-face {
    font-family: "Rubik_Dirt";
    src: url("../assets/Fonts/Rubik_Dirt/RubikDirt-Regular.ttf");
}
@font-face {
    font-family: "Rubik";
    src: url("../assets/Fonts/Rubik/static/Rubik-Regular.ttf");
}
* {
    font-family: "Rubik", "sans-serif";
    font-weight: 400;
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: auto;
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-thumb {
    background: var(--couleur-blanche);
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    box-shadow: inset 0em 0em 0.3em 0em var(--couleur-secondaire);
}
::-webkit-scrollbar-track {
    background: var(--background-color);
    border-radius: 0px;
    box-shadow: inset 0px 0px 0px 0px var(--couleur-secondaire);
}
header {
    background-color: var(--couleur-primaire);
}
.cadre-titre {
    animation: apparition 2s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4vh 0 10vh 0;
}
.titre-page {
    font-family: "Rubik_Dirt", "sans-serif";
    font-size: 6em;
    font-weight: 400;
    margin: 3vh auto 6vh auto;
	color: transparent;
	-webkit-text-stroke: var(--couleur-blanche);
	-webkit-text-stroke-width: 1px;
	text-shadow: 2px 2px 10px var(--couleur-primaire);
	transition: all 0.5s ease-in-out;
	text-align: center;
	animation: flicker 0.7s ease-in-out infinite alternate;
}
.titre-page:hover {
		color: var(--couleur-blanche);
}
.sous-titre {
    font-size: 2em;
    font-weight: bold;
    color: var(--couleur-secondaire);
}
.ligne1-sous-titre {
    margin-top: 30px;
}
.cadre-logo-titre {
    position: absolute;
}
.logo-titre {
    height: 15vh;
    position: relative;
    right: 425px;
    top: 195px;
    margin: 0;
    animation: apparition 1.5s ease-in-out;
}
.cadre-naviguation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8vh 0 5vh 0;
    animation: transition 1s cubic-bezier(0.175, 0.385, 0.12, 1.275) both;
    animation-delay: 1s;
}
.encart-telecharge-contact {
    display: flex;
    margin: auto 2vw;
}
.lien {
    display: flex;
    padding: 30px 25px;
    font-size: 1.5em;
    color: var(--couleur-blanche);
    text-decoration: none;
    border: solid 2px var(--couleur-blanche);
    border-radius: 10px;
    background-color: var(--couleur-secondaire);
    margin: 0 0 0 50px;
}
.lien:hover {
    transition: transform 450ms ease-in-out;
    transform: scale(1.3);
    color: var(--couleur-blanche);
    filter: brightness(1.75);
}
.icone-cv {
    margin-right: 1vw;
}
.lien:hover .icone-cv {
    animation: defilement 750ms ease-in;
}
.icone-contact {
    margin-right: 1vw;
}
.lien:hover .icone-contact {
    animation: defilement-rot 750ms ease-in-out;
}
.lien:visited {
    color: var(--couleur-noire);
}
.encart-logos {
    margin: auto 2vw;
}
.logo {
    height: 6vh;
    margin: 0 1vw;
    transition: scale 450ms ease-in-out;
}
.logo:hover {
    animation: spinner 450ms ease-out;
    scale: 1.5;
}
main {
    background: var(--background-color);
}
section {
    animation: translation 1s cubic-bezier(0.175, 0.385, 0.12, 1.275) both;
    animation-delay: 1s;
    padding: 5vh 0 0 0;
}
.titre-section {
    padding: 5vh 3vw 3vh 3vw;
    font-size: 3em;
    color: var(--couleur-blanche);
    letter-spacing: 0.05em;
}
.cadre-profil {
    display: flex;
    justify-content: space-around;
    margin: 3vh 2vw 5vh 2vw;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(0 0 0 / 30%);
    padding: 15px;
}
.cadre-img-profil {
    margin: 4vh 2vw auto 2vw
}
.img-profil {
    border-radius: 50%;
    object-fit: cover;
    height: 215px;
    width: 215px;
    border: ridge 10px var(--couleur-primaire);
}
.cadre-description-profil {
    margin: auto 1vw;
    text-align: justify;
}
.description-profil {
    font-size: 1.2em;
    color: var(--couleur-blanche);
    line-height: 1.4;
    margin-bottom: 10px;
}
.ocr-lien {
    text-decoration: none;
    color: var(--couleur-noire);
    font-weight: bold;
}
.ocr-lien:hover {
    color: var(--couleur-secondaire);
    transition: font-size 450ms ease-in-out;
    font-size: 1.3em;
    filter: brightness(1.5);
}
.cadre-logo-lang {
    display: flex;
    justify-content: space-around;
}
.logo-html {
    width: 73px;
}
.logo-css {
    width: 53px;
}
.logo-js {
    width: 51px;
}
.logo-lang {
    margin: 40px 0 0 0;
}
.cadre-projets {
    display: flex;
    flex-direction: column;
    margin: 30px 2vw 5vh 2vw;
}
.encart-projet {
    display: flex;
    margin: 0vh 1vw 10vh 1vw;
}
.lien-projet {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    margin-right: 2vw;
}
.titre-projet {
    margin-bottom: 40px;
    font-size: 2.2em;
    color: var(--couleur-blanche);
    font-weight: bold;
    text-align: center;
    padding: 20px;
    border: solid 2px var(--couleur-blanche);
    border-radius: 10px;
    background-color: var(--couleur-primaire);
    height: 150px;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.titre-projet:hover {
    transition: transform 450ms ease-in-out;
    transform: scale(1.3);
    color: var(--couleur-blanche);
    filter: brightness(1.4);
}
.img-projet {
    width: 65vw;
    height: 655px;
    border-radius: 10px;
}
.description-projet {
    color: var(--couleur-blanche);
    font-size: 1.2em;
    line-height: 1.4;
    padding-top: 1em;
    text-align: justify;
}
footer {
    display: flex;
    justify-content: end;
    align-items: center;
}
.signature {
    margin: 0 1vw 2vh 0;
    font-size: 0.9em;
    font-weight: bold;
    color: var(--couleur-noire);
}
.img-footer {
    margin: 0 2vw 2vh 0;
    width: 25px;
}
@media screen and (max-width: 1024px) {
    .titre-page {
        text-align: center;
        font-size: 4em;
        margin-bottom: 0px;
    }
    .sous-titre {
        text-align: center;
        font-size: 1.85em;
    }
    .cadre-titre {
        padding: 30px 0 0 0;
    }
    .ligne1-sous-titre {
        margin-top: 30px;
        margin-bottom: 10px;
    }
    .cadre-logo-titre {
        position: initial;
    }
    .logo-titre {
        height: 90px;
        position: initial;
        margin: 40px 0 0 0;
    }
    .cadre-naviguation {
        display: flex;
        padding: 40px 0 40px 0;
        align-items: end;
    }
    .encart-telecharge-contact {
        display: flex;
        margin: 0px auto 10px auto;
    }
    .lien {
        padding: 10px 10px;
        font-size: 1.4em;
    }
    .lien:hover {
        transition: transform 450ms ease-in-out;
        transform: scale(1.2);
        color: var(--couleur-blanche);
        filter: brightness(1.75);
    }
    .encart-logos {
        margin: 20px 0 0 0;
    }
    .logo {
        height: 60px;
        margin: 10px 65px 0 65px;
    }
    section {
        padding: 20px 0 0 0;
    }
    .titre-section {
        padding: 30px 20px 20px 30px;
    }
    .cadre-profil {
        display: block;
        margin: 20px 15px 50px 15px;
    }
    .cadre-img-profil {
        margin: 25px 15px auto 15px;
    }
    .img-profil {
        float: left;
        shape-outside: margin-box;
        margin: 0 15px 5px 0;
    }
    .cadre-description-profil {
        margin: auto 5px;
    }
    .description-profil {
        margin-bottom: 10px;
        font-size: 1.2em;
        color: var(--couleur-blanche);
        line-height: 1.4;
    }
    .cadre-logo-lang {
        display: flex;
        justify-content: space-evenly;
    }
    .cadre-projets {
        margin: 20px 15px 0 15px;
    }
    .encart-projet {
        display: flex;
        flex-direction: column;
        margin: 0vh 5px 70px 5px;
    }
    .lien-projet {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        margin: 0;
    }
    .titre-projet {
        margin-bottom: 40px;
        font-size: 1.8em;
        color: var(--couleur-noire);
        font-weight: bold;
        text-align: center;
        height: 115px;
        width: 75%;
    }
    .img-projet {
        width: 80%;
        height: 470px;
        border-radius: 10px;
    }
    .description-projet {
        color: var(--couleur-noire);
        font-size: 1.2em;
        line-height: 1.4;
        margin: 30px 55px;
    }
    .signature {
        margin: 0 20px 10px 0;
        font-size: 0.9em;
        font-weight: bold;
        color: var(--couleur-noire);
    }
    .img-footer {
        margin: 0 20px 10px 0;
        width: 20px;
    }
}
@media screen and (max-width: 768px){
    .titre-page {
        text-align: center;
        font-size: 3em;
        margin-bottom: 0px;
    }
    .sous-titre {
        text-align: center;
        font-size: 1.7em;
    }
    .cadre-titre {
        padding: 30px 0 0 0;
    }
    .ligne1-sous-titre {
        margin-top: 30px;
        margin-bottom: 10px;
    }
    .cadre-logo-titre {
        position: initial;
    }
    .logo-titre {
        height: 65px;
        position: initial;
        margin: 25px 0 0 0;
    }
    .encart-telecharge-contact {
        display: block;
        margin: 0px auto 10px auto;
    }
    .lien {
        margin: 0 60px 20px 60px;
        padding: 10px 10px;
        font-size: 1em;
    }
    .lien:hover {
        transition: transform 450ms ease-in-out;
        transform: scale(1.2);
    }
    .encart-logos {
        display: flex;
        margin: 30px 0 0 0;
    }
    .cadre-naviguation {
        display: block;
        padding: 40px 0 20px 0;
    }
    .logo {
        height: 60px;
        margin: 10px 65px 0 65px;
    }
    section {
        padding: 20px 0 0 0;
    }
    .titre-section {
        padding: 30px 20px 20px 30px;
    }
    .cadre-profil {
        display: block;
        margin: 20px 15px 50px 15px;
    }
    .cadre-img-profil {
        margin: 25px 15px auto 15px;
    }
    .img-profil {
        float: left;
        shape-outside: margin-box;
        margin: 0 15px 5px 0;
        height: 150px;
        width: 150px;
    }
    .cadre-description-profil {
        margin: auto 5px;
    }
    .description-profil {
        margin-bottom: 10px;
        font-size: 1.2em;
        color: var(--couleur-blanche);
        line-height: 1.4;
    }
    .cadre-projets {
        margin: 20px 15px 0 15px;
    }
    .encart-projet {
        display: flex;
        flex-direction: column;
        margin: 0vh 5px 70px 5px;
    }
    .lien-projet {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        margin: 0;
    }
    .titre-projet {
        margin-bottom: 40px;
        font-size: 1.4em;
        color: var(--couleur-noire);
        font-weight: bold;
        text-align: center;
        height: 100px;
        width: 80%;
    }
    .img-projet {
        width: 80%;
        height: 470px;
        border-radius: 10px;
    }
    .description-projet {
        color: var(--couleur-noire);
        font-size: 1.2em;
        line-height: 1.4;
        margin: 30px 55px;
    }
    .signature {
        margin: 0 20px 10px 0;
        font-size: 0.9em;
        font-weight: bold;
        color: var(--couleur-noire);
    }
    .img-footer {
        margin: 0 20px 10px 0;
        width: 20px;
    }
}